.contact {
  grid-column: container-start / container-end;
  // border-top: 1px solid #cecece;

  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @extend %sec-padding;
  background-color: rgb(253, 251, 214);

  &__content {
    border-radius: 10px;
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    color: var(--color-on-tertiary);
    display: flex;

    &--info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: space-between;
      @extend %sec-padding;
      &__title {
        @extend %sec-heading;
      }
      &__social {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
      }

      &__img {
        align-self: center;
        // margin-top: 4rem;
        img {
          width: 200px;
        }
      }
    }

    &--form {
      // background-color: var(--color-tertiary);
      border: 3px solid var(--color-tertiary);

      color: var(--color-on-tertiary);
      border-radius: 30px;
      @extend %sec-padding;

      &__title {
        @extend %sec-heading;
      }
      &__link {
        margin-top: 2rem;
        width: 100%;
      }
    }
  }

  //*-*-*-*-*-*-*-*-*-*-- The 800px Mark Break Point *-*-*-*-*-*-*-*-*-*-*
  @include media-tablet {
    &__content {
      border-radius: 10px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
      &--info {
        align-items: center;
        &__img {
          margin-top: 0;
          img {
            width: 130px;
          }
        }
      }
    }
  }
}
