.contact {
  grid-column: container-start / container-end;
  background-color: #fcf8ec;
  position: relative;
  padding: 8rem 40rem;

  &__content {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    // align-items: center;
    gap: 4rem;

    &--info {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      &__title {
        @extend %sec-heading;
        color: #42449d;
        i,
        a {
          color: #42449d;
        }
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          background-color: #e2e2ff;
          padding: 10px 20px;
          border-radius: 30px;
        }
      }

      &__img {
        align-self: center;
        img {
          width: 200px;
        }
      }
    }

    &--form {
      width: 45rem;
      color: #42449d;
      padding: 0 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__title {
        @extend %sec-heading;
      }
      &__link {
        margin-top: 2rem;
        width: 100%;
      }
    }
  }

  //*-*-*-*-*-*-*-*-*-*-- The 800px Mark Break Point *-*-*-*-*-*-*-*-*-*-*
  @include media-tablet {
    &__content {
      border-radius: 10px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
      &--info {
        align-items: center;
        &__img {
          margin-top: 0;
          img {
            width: 130px;
          }
        }
      }
    }
  }
}
