.about {
  grid-column: container-start / container-end;
  color: var(--color-on-background);
  display: flex;
  padding: 5rem 20rem 0 20rem;
  background-color: #fcf8ec;
  color: #42449d;

  &__title {
    font-size: font-size(font-size-regular);
    font-weight: font-weight(font-weight-regular);
    width: 60%;
  }

  &__para {
    @extend %sec-para;
    margin-bottom: 4rem;
    text-align: justify;
    width: 40%;
  }

  &__links {
    align-self: center;
    padding-bottom: 2rem;
  }
}
