.skills {
  grid-column: container-start / container-end;
  padding: 4rem 20rem;
  background-color: #fcf8ec;

  &__title {
    font-size: font-size(font-size-regular);
    font-weight: font-weight(font-weight-medium);
    text-align: center;
    padding-bottom: 2rem;
    color: #42449d;
  }

  .content-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem;
    place-content: center;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding: 2rem 4rem;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
    background-color: #faeee7;
    color: #42449d;

    &--header {
      display: flex;
      line-height: normal;
      align-items: flex-end;
      &__img {
        width: 100px;
      }
      &__title {
        font-size: font-size(font-size-regular);
        font-weight: font-weight(font-weight-regular);
        position: relative;
        display: block;
      }
      &__title::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #42449d;
        transition: opacity 300ms, transform 300ms;
      }
      &__title:hover::after,
      &__title:focus::after {
        transform: translate3d(0, 0.2em, 0);
      }
    }
    &--para {
      @extend %sec-para;
      // text-align: center;
    }
    &--link {
      margin-top: auto;
      color: var(--color-on-secondary) !important;
    }
  }
}
