@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
::selection {
  background-color: var(--color-primary);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html {
  --color-primary: #d9e1f5;
  --color-on-primary: #284358;
  --color-secondary: #fff0eb;
  --color-on-secondary: #211a17;
  --color-tertiary: #f5fff7;
  --color-on-tertiary: #103928;
  --color-quaternary: #bbdefb;
  --color-on-quaternary: #171b1f;
  --color-error: #ba1a1a;
  --color-on-error: #fff;
  --color-background: #fcfcfd;
  --color-on-background: #1a1c1d;
  --color-surface: #f0f0f0;
  --color-on-surface: #1c1b1b;
}

html[data-theme=dark] {
  --color-primary: #1a2636;
  --color-on-primary: #e9e3db;
  --color-secondary: #3c4043;
  --color-on-secondary: #efddcd;
  --color-tertiary: #3c4043;
  --color-on-tertiary: #d6e2db;
  --color-quaternary: #8aacc8;
  --color-on-quaternary: #00002d;
  --color-error: #ba1a1a;
  --color-on-error: #fff;
  --color-background: #1a1c1d;
  --color-on-background: #fcfcfd;
  --color-surface: #1c1b1b;
  --color-on-surface: #f0f0f0;
}

/* Google Fonts */
:root {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.9;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--color-background);
}

.container {
  max-width: 1700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: [container-start] 1fr [center-start] repeat(6, [col-start] minmax(min-content, 16.66667rem) [col-end]) [center-end] 1fr [container-end];
  grid-template-rows: min-content 95vh repeat(9, min-content);
}
@media screen and (max-width: 800px) {
  .container {
    grid-template-rows: min-content 100vh repeat(9, min-content);
  }
}

li {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.2rem;
  font-size: calc(1.2rem + 0.4vw);
}

i {
  color: var(--color-primary);
  font-size: calc(1.5rem + 0.9vw);
}

.btn-primary {
  font-size: calc(1.2rem + 0.4vw);
  padding: calc(0.5rem + 1vh) calc(1rem + 1vw);
  border: 2px solid;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  color: var(--color-on-background);
}

.btn-primary:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.333);
}

.btn-secondary {
  font-size: calc(1.2rem + 0.4vw);
  padding: calc(0.5rem + 1vh) calc(1rem + 1vw);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: var(--color-on-tertiary);
  background-color: var(--color-tertiary);
  border: 1px solid var(--color-on-tertiary);
}

.btn-secondary:hover {
  color: var(--color-tertiary);
  background-color: var(--color-on-tertiary);
}

input[type=text],
input[type=password],
input[type=number] {
  box-sizing: border-box;
  border: none;
  padding: 0 0.5rem;
  font-size: calc(1.2rem + 0.4vw);
  color: var(--color-on-tertiary);
  background-color: transparent;
  width: 100%;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus,
textarea {
  outline: none !important;
}

.field-container {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid var(--color-on-tertiary);
}

.textarea {
  display: flex;
  flex-direction: column;
}
.textarea__title {
  font-size: calc(1.2rem + 0.4vw);
  margin: 0.5rem;
  letter-spacing: 1px;
}
.textarea textarea {
  height: 200px;
  resize: none;
  padding: 10px;
  font-size: calc(1.2rem + 0.4vw);
  background-color: transparent;
  color: var(--color-on-background);
  border-radius: 5px;
  border: 1px solid var(--color-on-tertiary);
}

.field-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-container {
  display: flex;
  padding: 0 1rem;
  align-items: center;
  height: 6rem;
}

.label-container .label-icon,
.label-container .label-text,
.label-container .rquired {
  font-size: calc(1.2rem + 0.4vw);
}

.label-container .rquired {
  color: var(--color-error);
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  min-width: 0;
  padding: 1rem;
}

input:focus {
  outline: none !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1; /* Firefox */
}

.input-type {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-type .input-type-text,
.input-type .input-icon {
  padding: 0.2rem 0.5rem;
}

.header {
  grid-column: container-start/container-end;
  z-index: 200;
}
.header.open .header__menu--line {
  background-color: transparent;
}
.header.open .header__menu--line::before {
  transform: rotate(45deg);
}
.header.open .header__menu--line::after {
  transform: rotate(-45deg);
}
.header.open .header__menu--line::before, .header.open .header__menu--line::after {
  top: 0;
}
.header__overlay {
  width: 100%;
  height: 100vh;
  background-color: var(--color-background);
  position: fixed;
  opacity: 0;
  display: none;
  z-index: 10;
}
.header__nav {
  width: 100%;
  height: 7rem;
  line-height: 7rem;
  position: fixed;
  max-width: 1700px;
  display: flex;
  justify-content: space-evenly;
  color: var(--color-on-background);
  background-color: var(--color-background);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.header__nav--logo__name {
  letter-spacing: -0.02em;
  color: var(--color-on-background);
}
.header__nav--logo__name span {
  letter-spacing: normal;
  padding-left: 3px;
}
.header__nav--links {
  display: flex;
  align-items: center;
}
.header__nav--links__item a:link,
.header__nav--links__item a:visited {
  padding: 0 2rem;
  color: var(--color-on-background);
}
.header__nav--links__item:nth-child(odd) {
  animation: downwards 1s forwards;
}
.header__nav--links__item:nth-child(even) {
  animation: upwards 1s forwards;
}
.header__nav--links .darkmode-toggle {
  right: 1em;
  top: 1em;
}
.header__nav--links .darkmode-toggle button {
  background-color: transparent;
  border: none 0;
  border-radius: 50%;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header__nav--links .darkmode-toggle span {
  color: var(--color-on-background);
}
.header__nav--lang-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}
.header__nav--lang-container .lang-link {
  color: var(--color-on-background);
}
.header__nav--lang-container .lang-active {
  font-weight: 700;
}
@media screen and (min-width: 1700px) {
  .header__nav--links__item a:link,
  .header__nav--links__item a:visited {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 800px) {
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 25rem;
    height: 100vh;
    line-height: initial;
    flex-direction: column;
    text-align: center;
    z-index: 20;
    transform: perspective(70rem) rotateY(180deg);
    transform-origin: top left;
    transition: transform 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .header__nav--links {
    height: 70%;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .header__nav--links__item {
    animation: initial;
  }
  .header__nav--links__item a:link,
  .header__nav--links__item a:visited {
    transform-origin: left;
    margin-right: initial;
    padding: 1rem;
    font-size: calc(1.2rem + 0.4vw);
  }
  .header__nav--links__item a:hover,
  .header__nav--links__item a:active {
    transform: rotateY(90deg);
  }
  .header__nav--links__item a:link::after,
  .header__nav--links__item a:visited::after {
    top: 0;
    bottom: 100%;
    left: 100%;
    width: 100%;
    height: 100%;
    transform-origin: left;
    transform: rotateY(-90deg);
  }
  .header__nav--links__toggle-container {
    justify-content: center;
  }
  .header.open nav {
    transform: rotateY(0);
  }
  .header__menu {
    position: fixed;
    height: 4rem;
    width: 4rem;
    top: 2rem;
    right: 2rem;
    padding: 2.5rem;
    z-index: 20;
    cursor: pointer;
  }
  .header__menu--line, .header__menu--line::before, .header__menu--line::after {
    content: "";
    position: absolute;
    width: 3.5rem;
    height: 0.2rem;
    background-color: var(--color-on-primary);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: all 0.5s ease-in-out;
  }
  .header__menu--line::before {
    top: -2.2rem;
  }
  .header__menu--line::after {
    top: 1.3rem;
  }
  .header__overlay.open {
    display: block;
    opacity: 0.8;
  }
}

@keyframes upwards {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes downwards {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.hero {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  grid-column: container-start/container-end;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.hero__content {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}
.hero__content .clouds-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.6;
}
.hero__content .hero-gif {
  position: absolute;
  top: -50;
  z-index: 100;
  margin: 0 40%;
  width: 300px;
}
.hero__content--title {
  font-size: calc(1.5rem + 3vw);
  font-weight: 300;
  letter-spacing: -0.07em;
  z-index: 9;
}
.hero__content--title span {
  letter-spacing: normal;
  padding-left: 3px;
}
.hero__content--para {
  font-size: calc(1.5rem + 1vw);
  font-weight: 300;
  margin-bottom: calc(1rem + 1vw);
  z-index: 9;
}
.hero__content--social {
  display: flex;
  gap: 1rem;
  padding: 10px 0 30px 0;
  z-index: 3;
}
.hero__content--social i {
  color: var(--color-on-primary);
}
.hero__content--links {
  display: flex;
  gap: 1rem;
  z-index: 9;
}
.hero__content--links a {
  color: var(--color-on-primary);
}
@media screen and (max-width: 800px) {
  .hero {
    justify-content: center;
    align-items: flex-start;
    text-align: center;
  }
  .hero__content {
    align-items: center;
    margin-top: 10rem;
  }
  .hero__content .hero-gif {
    bottom: 5%;
    margin: 0 50%;
    width: 250px;
  }
  .hero__content--links {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 600px) {
  .hero {
    padding: 4rem;
  }
  .hero__content .hero-gif {
    bottom: 10%;
    width: 200px;
  }
  .hero__content--title {
    font-size: calc(2.5rem + 5vw);
    font-weight: 400;
  }
  .hero__content--para {
    font-size: 2rem;
  }
  .hero__content--links a:link,
  .hero__content--links a:visited {
    font-size: calc(1.2rem + 0.4vw);
  }
}
@media screen and (max-width: 400px) {
  .hero__content--links {
    flex-direction: column;
  }
  .hero__content--links a:link,
  .hero__content--links a:visited {
    display: inline-block;
  }
  .hero__content--links a:link:first-child,
  .hero__content--links a:visited:first-child {
    margin-bottom: 5vw;
  }
}
@media screen and (min-width: 1700px) {
  .hero {
    justify-content: center;
    align-items: flex-start;
    text-align: center;
  }
  .hero__content {
    align-items: center;
    margin-top: 10rem;
  }
  .hero__content .hero-gif {
    bottom: 5%;
    margin: 0 50%;
    width: 300px;
  }
  .hero__content--links {
    justify-content: flex-start;
  }
}

.about {
  grid-column: container-start/container-end;
  color: var(--color-on-background);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__title {
  font-weight: 500 !important;
  padding: 1rem;
}
.about__para {
  text-align: center;
  margin-bottom: 4rem;
}

.skills {
  grid-column: container-start/container-end;
}
.skills__title {
  font-weight: 500 !important;
  padding: 1rem;
  text-align: center;
}
.skills .content-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem;
  place-content: center;
}
.skills__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  background-color: var(--color-secondary);
  color: var(--color-on-secondary);
  padding: 2rem;
  border-radius: 30px;
}
.skills__content--header {
  display: flex;
  line-height: normal;
  align-items: flex-end;
}
.skills__content--header__img {
  width: 100px;
}
.skills__content--para {
  text-align: center;
}
.skills__content--link {
  margin-top: auto;
  color: var(--color-on-secondary) !important;
}

.projects {
  grid-column: center-start/center-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects__title {
  font-weight: 500 !important;
  padding: 1rem;
  text-align: center;
}
.projects .content-container {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.projects__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  background-color: var(--color-secondary);
  color: var(--color-on-secondary);
  border-radius: 30px;
  width: 25rem;
  height: 35rem;
}
.projects__content .img-container img {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  width: 100%;
}
.projects__content--para {
  text-align: center;
}
.projects__content--link {
  margin-top: auto;
  color: var(--color-on-secondary) !important;
}

.contact {
  grid-column: container-start/container-end;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9e1f5;
}
.contact__content {
  border-radius: 10px;
  color: var(--color-on-tertiary);
  display: flex;
}
.contact__content--info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}
.contact__content--info__title {
  color: var(--color-on-tertiary);
}
.contact__content--info__title i,
.contact__content--info__title a {
  color: var(--color-on-tertiary);
}
.contact__content--info__title a {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-tertiary);
  padding: 10px 20px;
  border-radius: 30px;
}
.contact__content--info__img {
  align-self: center;
}
.contact__content--info__img img {
  width: 200px;
}
.contact__content--form {
  background-color: var(--color-tertiary);
  color: var(--color-on-tertiary);
  border-radius: 30px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact__content--form__link {
  margin-top: 2rem;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .contact__content {
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .contact__content--info {
    align-items: center;
  }
  .contact__content--info__img {
    margin-top: 0;
  }
  .contact__content--info__img img {
    width: 130px;
  }
}

.footer {
  grid-column: container-start/container-end;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  height: 52px;
  border-top: 1px solid #f2f2f2;
}
.footer__para {
  color: var(--color-on-primary);
  font-size: calc(1rem + 0.2vw);
}

.hero, .hero__content, .about, .skills, .projects, .contact, .contact__content--info {
  padding: 4vh 4vw;
}
@media screen and (min-width: 1700px) {
  .hero, .hero__content, .about, .skills, .projects, .contact, .contact__content--info {
    padding: 4vh 2vw;
  }
}

.about__title, .skills__title, .skills__content--header__title, .projects__title, .projects__content .img-container__title, .contact__content--info__title, .contact__content--form__title {
  font-size: calc(1.5rem + 0.9vw);
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.about__para, .skills__content--para, .projects__content--para {
  font-size: calc(1.2rem + 0.4vw);
}

.scroll {
  position: fixed;
  bottom: 70rem;
  right: 4rem;
  height: 4rem;
  width: 4rem;
  background-image: url("../img/scroll/scroll.svg");
  background-repeat: no-repeat;
  background-color: var(--color-secondary-m);
  background-size: contain;
  background-position: center;
  padding: 1rem;
  border-radius: 50%;
  z-index: 30;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.scroll.active {
  visibility: visible;
  opacity: 1;
  bottom: 4rem;
}

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
  transition: all 0.5s !important;
  transition-delay: 0 !important;
}/*# sourceMappingURL=main-style.css.map */